
<h3>@ViewBag.Message</h3>

<address>
    Mats Drevstad<br />
    Övralidsgatan 25<br />
    422 47 Hisings Backa<br />
    <abbr title="Phone"></abbr>
    076-173 58 11
</address>

<address>
    <strong>Frågor:</strong>   <a href="mailto:Support@example.com">mats.drevstad@gmail.com</a><br />
</address>