@{
    ViewBag.Title = "Edi";
}

@*<div class="row">
    <div class="col-md-12 text-center">
        <img src="~/Images/glass.png" />
    </div>
</div>
<br />
<br />*@

<div class="row">
    <div class="col-md-12">
        <img src="~/Images/branch.png" />
    </div>
</div>

